---
layout: default
---
<div class="page-header-wrapper">
    <div class="page-header">
        <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
    </div>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4 sidebar">
    <section class="about">
        <img class="icon" src="http://www.gravatar.com/avatar/9066f2ec9d51f35bfbd9efe6f6a72dfe.png?size=100" alt="Gravatar icon" />
        <h2>
            About Me
        </h2>
        <p>
            Oh yes! Another random tech blog about web technologies, programming and whatever goes randomly through my head. Think of this page as a little window of my mind. You are now belong to me! :o)
        </p>
        <p>
            My name is David Fernandez. I'm web software engineer from Geneva, Switzerland and no, I don't eat cheese every day.
        </p>
    </section>
    <br />
    <section class="about">
        <h2>Tags</h2>
        <ul class="tag_box inline">
          {% assign tags_list = site.tags %}
          {% include helper/tags_list %}
        </ul>
    </section>
    <br />
      <a class="twitter-timeline" href="https://twitter.com/10io" data-widget-id="305423595545432065">Tweets by @10io</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
