---
layout: default
---
<div class="page-header">
  <h1>
    {{ page.title }}
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group offset2">
      {% if page.previous %}
        <a class="btn prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="/archive.html">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    <!--comments-->
  </div>

  <div class="span4">
    <div class="sidebar">
      <section class="about">
          <img class="icon" src="http://www.gravatar.com/avatar/9066f2ec9d51f35bfbd9efe6f6a72dfe.png?size=100" alt="Gravatar icon" />
          <h2>
              About Me
          </h2>
          <p>
              Oh yes! Another random tech blog about web technologies, programming and whatever goes randomly through my head. Think of this page as a little window of my mind. You are now belong to me! :o)
          </p>
          <p>
              My name is David Fernandez. I'm web software engineer from Geneva, Switzerland and no, I don't eat cheese every day.
          </p>
      </section>
      <br />
      <section>
        <h4>Published</h4>
        <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
      {% if page.category %}
          <h4>Category</h4>
          <ul class="tag_box inline">
            {% assign categories_list = page.categories %}
            {% include helper/categories_list %}
          </ul>
      {% endif %}
      {% unless page.tags == empty %}
          <h4>Tags</h4>
          <ul class="tag_box">
            {% assign tags_list = page.tags %}
            {% include helper/tags_list %}
          </ul>
      {% endunless %}
      </section>
    </div>
  </div>
</div>
